!
! Last configuration change at 12:40:40 UTC Thu Mar 27 2025
!
version 15.9
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname SPOKE-3
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
!
!
!
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
!
!
!
!
!
!
!
!
!
!
!
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
redundancy
!
!
!
!
crypto ikev2 proposal ikev2_proposal
 encryption aes-cbc-256
 integrity sha256
 group 14
!
crypto ikev2 policy ikev2_policy
 proposal ikev2_proposal
!
crypto ikev2 keyring ikev2_keyring
 peer hub_1
  address 20.0.0.2
  hostname hub_1
  pre-shared-key KEY_SPOKE_3
 !
 peer hub_2
  address 30.0.0.2
  hostname hub_2
  pre-shared-key KEY_SPOKE_3
 !
!
!
crypto ikev2 profile ikev2_profile
 match identity remote address 20.0.0.2 255.255.255.255
 match identity remote address 30.0.0.2 255.255.255.255
 authentication remote pre-share
 authentication local pre-share
 keyring local ikev2_keyring
 lifetime 3600
!
!
!
crypto ipsec transform-set tset esp-aes 256 esp-sha256-hmac
 mode tunnel
!
!
crypto ipsec profile ipsec_profile
 set transform-set tset
 set ikev2-profile ikev2_profile
!
!
!
!
!
!
interface Loopback0
 ip address 10.10.10.5 255.255.255.255
!
interface Tunnel0
 ip address 10.1.1.5 255.255.255.0
 no ip redirects
 ip mtu 1400
 ip nhrp authentication XAUTH
 ip nhrp network-id 1
 ip nhrp nhs 10.1.1.1 nbma 20.0.0.2 multicast
 ip nhrp nhs 10.1.1.2 nbma 30.0.0.2 multicast
 ip tcp adjust-mss 1360
 ip ospf network point-to-multipoint
 ip ospf dead-interval 40
 ip ospf hello-interval 10
 ip ospf 1 area 0
 tunnel source GigabitEthernet0/0
 tunnel mode gre multipoint
 tunnel key 123
 tunnel protection ipsec profile ipsec_profile
!
interface GigabitEthernet0/0
 ip address 60.0.0.2 255.255.255.0
 ip nat outside
 ip virtual-reassembly in
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/1
 ip address 192.168.250.1 255.255.255.0
 ip nat inside
 ip virtual-reassembly in
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/2
 no ip address
 shutdown
 duplex auto
 speed auto
 media-type rj45
!
interface GigabitEthernet0/3
 no ip address
 shutdown
 duplex auto
 speed auto
 media-type rj45
!
router ospf 1
 network 192.168.250.0 0.0.0.255 area 0
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
ip nat inside source list 100 interface GigabitEthernet0/0 overload
ip route 0.0.0.0 0.0.0.0 GigabitEthernet0/0 60.0.0.1
!
ipv6 ioam timestamp
!
!
access-list 100 deny   ip 60.0.0.0 0.0.0.255 any
access-list 100 permit ip any any
!
control-plane
!
banner exec ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
banner incoming ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
banner login ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
!
line con 0
line aux 0
line vty 0 4
 login
 transport input none
!
no scheduler allocate
!
end
